@use "sass:map";
.container {
    // background: rgba(red, 0.1);
    // border: 1px solid rgba(red, 0.3);
    margin: 0 auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @media screen and (min-width: $breakpoint-sm) {
        max-width: $container-sm;
    }
    @media screen and (min-width: $breakpoint-md) {
        max-width: $container-md;
    }
    @media screen and (min-width: $breakpoint-lg) {
        max-width: $container-lg;
    }
    @media screen and (min-width: $breakpoint-xl) {
        max-width: $container-xl;
    }
    @media screen and (min-width: $breakpoint-xxl) {
        max-width: $container-xxl;
    }
}

$sizes: (
    "xs": 12,
    "sm": 12,
    "md": 12,
    "lg": 12,
    "xl": 12,
    "xxl": 12
);

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}


.column {
    // flex: 1 1 auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    @each $size, $columns in $sizes {
        &-#{$size} {
            font-size: #{$breakpoint-sm}px;
        }
        &-#{$size} {
            @media screen and (min-width: map-get($breakpoints, $size)) {
                @for $i from 1 through 12 {
                    &-#{$i} {
                        width: 100% * ($i / 12);
                    }
                }
            }
        }
    }
}
