@import '../../../scss/variables';

.product{
    &-price {
        font-size: pxToRem(12);
        line-height: pxToRem(16);
        margin: 0;
        margin-bottom: 4px;

        span + span {
            margin-left: 0.5rem;
        }
        &__regular {
            color: #333;
            font-weight: 600;
        }

        // Sale Pricing
        &__list {
            color: $color-neutral-gray-55;
            font-weight: 400;
            text-decoration: line-through;
        }
        &__sale {
            color: $color-utility-error;
            font-weight: 600;
        }

        &__discount {
            color: $color-neutral-gray-55;
            font-weight: 400;
        }
    }
}
