
// ================================================
// BREAKPOINTS
// ================================================
$breakpoint-xs:             640px;
$breakpoint-sm:             640px;
$breakpoint-md:             768px;
$breakpoint-lg:             1024px;
$breakpoint-xl:             1200px;
$breakpoint-xxl:            1440px;


// ================================================
// COLORS
// ================================================
$color-brand-primary:          #711E2B;
$color-brand-primary-light:    #B33B44;
$color-brand-secondary:        #F1E7D6;
$color-brand-secondary-light:  #DABE85;

$color-neutral-black:          #1B1F22;
$color-neutral-gray-18:        #2D3339;
$color-neutral-gray-25:        #3F4850;
$color-neutral-gray-32:        #515367;
$color-neutral-gray-39:        #63717E;
$color-neutral-gray-46:        #768693;
$color-neutral-gray-55:        #8D9AA5;
$color-neutral-gray-64:        #A4AEB7;
$color-neutral-gray-73:        #BAC2C9;
$color-neutral-gray-82:        #D1D7DB;
$color-neutral-gray-91:        #E8EBED;
$color-neutral-white:          #FFFFFF;

$color-utility-success:        #00A64C;
$color-utility-warning:        #FA8C15;
$color-utility-error:          #ED565D;
$color-utility-info:           #1487B8;

// ================================================
// Fonts
// ================================================
$font-primary: 'Montserrat', Helvetica, Arial, sans-serif;
$font-secondary: 'Taviraj', serif;
