.pathways-recommendations {

    &__title {
        display: block;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }

    &__slider {
        // margin-left: -12px;
        // margin-right: -12px;
    }

    .slick {
        &-slide {
            padding-left: 12px;
            padding-right: 12px;
        }

        &-arrow {
            display: block;
            z-index: 1;
            // border: 1px solid red;
            width: 36px;
            height: 36px;
            svg {
                width: 36px;
                height: 36px;
            }
            &::before {
                display: none;
            }
        }
        &-prev {
            left: 0;
        }
        &-next {
            right: 0;
        }
    }

}
