@import '../../scss/variables';

.has-edit-button:not(.navigation) {
    position: relative;
}

.navigation {
    background-color: #fff;
    width: 100%;
    @media screen and (max-width: 1024px) {
        bottom: 0;
        left: 0;
        overflow-y: scroll;
        position: fixed !important;
        top: 60px;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        &[data-menu-open="true"] {
            transform: translateX(0);
        }
    }
    @media screen and (min-width: 1025px) {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0;
        min-height: 60px;
        padding: 0;
    }
    &__item {
        border-bottom: 1px solid #ccc;
        // &:first-child {
        //     border-top: 1px solid #ccc;
        // }
        &:hover {
            .mega-menu {
                display: block;
            }
        }
        @media screen and (min-width: 1025px) {
            align-content: stretch;
            align-items: stretch;
            border: none;
            display: flex !important;
            &:first-child {
                border-top: none;
            }
        }

        a, span {
            font-size: 18px;
            font-weight: 700;
            @media screen and (min-width: 1025px) {
                align-content: stretch;
                align-items: center;
                display: flex !important;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    &__link {
        align-content: stretch;
        align-items: stretch;
        display: flex;
        position: relative;
        z-index: 0;
        svg {
            height: 32px;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            width: 32px;
            @media (min-width: 1025px) {
                display: none;
            }
        }
    }

    a, span {
        color: $color-brand-primary;
        cursor: pointer;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    .mega-menu {
        background-color: #fff;
        width: 100%;
        z-index: 1000;
        @media screen and (max-width: 1024px) {
            bottom: 0;
            left: 0;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            transform: translateX(-100%);
            transition: all 0.3s ease-in-out;
            &[data-show-menu="true"] {
                transform: translateX(0%);
            }
        }
        @media screen and (min-width: 1025px) {
            border-top: 1px solid #d8d8d8;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            color: #333;
            display: none;
            font-size: 14px;
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
        }

        .back-button {
            background-color: transparent;
            border: none;
            color: $color-brand-primary;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            padding: 0;
            padding-left: 14px;
            @media (min-width: 1025px) {
                display: none;
            }

            svg {
                margin-left: 4px;
                transform: rotateZ(90deg);
                width: 30px;
            }
            span {
                padding-left: 0;
            }
        }

        .columns {
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 1024px) {
                border-top: 1px solid #ccc;
                overflow-y: hidden;
            }
            @media screen and (min-width: 1025px) {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin: 0 auto;
                padding-bottom: 24px;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 24px;
            }
            @media screen and (min-width: $breakpoint-xl) {
                max-width: 1180px;
            }
            @media screen and (min-width: $breakpoint-xxl) {
                max-width: 1440px;
            }
        }

        .column {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            @media screen and (min-width: 1025px) {
                flex: 0 1 calc(100% / 6);
                padding: 0;
                width: calc(100% / 6);
            }
        }

        .second-level {
            &__heading {
                position: relative;
                z-index: 9999;
                &[data-accordion-open="true"] {
                    height: auto;
                    opacity: 1;
                    .second-level__icon {
                        svg {
                            transform: rotateX(180deg);
                        }
                    }
                }
            }

            &__icon {
                display: block;
                height: 32px;
                padding: 0;
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translate(0, -50%);
                width: 32px;
                @media screen and (min-width: 1025px) {
                    display: none !important;
                }
                svg {
                    height: 32px;
                    transition: all 0.3s ease;
                    width: 32px;
                }
            }

            &__list {
                @media screen and (max-width: 1024px) {
                    height: 0;
                    opacity: 0;
                    transition: height 0.3s ease;
                    &[data-accordion-open="true"] {
                        border-bottom: 1px solid #ccc;
                        height: auto;
                        opacity: 1;
                    }
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding: 0;

            // &.second-level {
            //     margin-bottom: 24px;
            // }
        }

        li {
            display: inline-flex;
        }

        h2 {
            color: $color-brand-primary;
            font-family: $font-secondary;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            margin: 0;
            padding: 1rem;
            @media screen and (max-width: 1024px) {
                border-bottom: 1px solid #ccc;
                overflow: hidden;
                &[data-accordion-open="true"] {
                    border-bottom: none;
                }
            }
            @media screen and (min-width: 1025px) {
                font-size: 18px;
                padding: 0.5rem;
                padding-left: 0;
            }

            a {
                font-weight: 700;
                padding: 0;
            }
        }

        a, span {
            color: $color-brand-primary;
            display: block;
            font-size: 16px;
            font-weight: 500;
            padding: 0.75rem 1rem;
            @media screen and (max-width: 1024px) {

            }
            @media screen and (min-width: 1025px) {
                font-size: 14px;
                padding: 0.5rem;
                padding-left: 0;
            }
        }
    }


    // ------------------------------------------------
    // Banner(s)
    // ------------------------------------------------
    &-banner {
        display: none !important;
        @media screen and (min-width: 1025px) {
            display: block !important;
            flex-basis: calc(100% / 3) !important;
            position: relative;
        }
    }
}
