@import '../../scss/variables';

.page-title {
    display: block;
    font-family: $font-secondary;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem;
    position: relative;
}

h1.page-title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: .1rem;
}
