@import '../../scss/variables';

$arrow-size: 32px;

.promo-slider {
    background: #f0f1f2;
    text-align: center;

    &__inner {
        max-width: 480px;
        margin: 0 auto;
        padding-left: $arrow-size;
        padding-right: $arrow-size;
    }

    &__slide {
        display: flex;
        align-items: stretch;
        align-content: stretch;
        padding-top: 11px;
        padding-bottom: 10px;
        font-size: 11px;
        line-height: 15px;
        font-weight: 500;
        font-family: $font-primary;
        p {
            margin: 0;
        }
    }


    .slick {
        &-track {
            display: flex;
            align-items: center;
        }
        &-slide {
            display: flex;
            align-items: stretch;
            align-content: stretch;
            height: 100%;
        }
        &-arrow {
            width: $arrow-size;
            height: $arrow-size;
            background: #f0f1f2;
            z-index: 1;
            svg {
                width: $arrow-size;
                height: $arrow-size;
            }
            &:before {
                display: none;
            }
            &.slick-prev {
                left: 0;
            }
            &.slick-next {
                right: 0;
            }
        }
    }
}

