@import '../../scss/variables';

.product-listing {
    display: block;
    padding-top: 1rem;
    // ------------------------------------------------
    // Header
    // ------------------------------------------------
    &__header {
        padding-top: 2rem;
        .column {
            flex: 1 1 25%;
        }
        &-options {
            display: flex;
            justify-content: flex-end;
            &.column {
                flex: 1 1 50%;
            }

            label {
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
                font-weight: 500;
            }
            .button-group {
                .button {
                    background: $color-neutral-gray-91;
                    border: none;
                    color: #000;
                    padding: 4px 9px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    min-width: 24px;
                    &:hover {
                        background: darken($color-neutral-gray-91, 10);
                    }
                    &:active {
                        background: darken($color-neutral-gray-91, 20);
                    }
                    &.active {
                        background: #43494F;
                        color: #fff;
                    }
                    &:first-child {
                        border-top-left-radius: 2px;
                        border-bottom-left-radius: 2px;
                    }
                    &:last-child {
                        border-top-right-radius: 2px;
                        border-bottom-right-radius: 2px;
                    }
                }

                & ~ .button-group {
                    margin-left: 16px;
                }
            }
        }
    }
}




.product-grid {
    display: grid !important;
    grid-template-columns: 1fr;
    padding-top: 2rem;
    @media screen and (min-width: $breakpoint-md) {
        grid-template-columns: 1fr;
    }
    @media screen and (min-width: $breakpoint-lg) {
        grid-template-columns: 1fr;
    }

    // ------------------------------------------------
    // Facets
    // ------------------------------------------------
    &__facets {
    }


    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        @for $i from 1 through 2 {
            &[data-mobile-columns="#{$i}"] {
                @media screen and (max-width: ($breakpoint-lg - 1)) {
                    grid-template-columns: repeat($i, 1fr);
                }
            }
        }
        @for $i from 3 through 6 {
            &[data-desktop-columns="#{$i}"] {
                @media screen and (min-width: $breakpoint-lg) {
                    grid-template-columns: repeat($i, 1fr);
                }
            }
        }

        // @media screen and (min-width: $breakpoint-md) {
        //     grid-template-columns: repeat(3, 1fr);
        // }
        // @media screen and (min-width: $breakpoint-lg) {
        //     grid-template-columns: repeat(3, 1fr);
        // }
    }
}
