@import '../../scss/variables';
@import '../../scss/functions';

// ================================================
// PRODUCT CARD
// ================================================
.product-card {
    font-family: $font-primary;
    padding-bottom: 2rem;
    a {
        text-decoration: none;
    }

    // ------------------------------------------------
    // IMAGE
    // ------------------------------------------------
    &__img {
        display: block;
        margin-bottom: 12px;
        position: relative;
        &:hover {
            .product-card__img-quick-view {
                opacity: 1;
            }
        }
        img {
            display: block;
            position: relative;
            width: 100%;
        }
        &-badge {
            background-color: #43494F;
            left: 0;
            padding: 4px 12px;
            position: absolute;
            top: 12px;
            transform: translateY(-50%);
            z-index: 1;
            span {
                color: #fff;
                font-size: 12px;
                font-weight: bold;
                line-height: 16px;
            }
        }
        &-quick-view {
            background: #fff;
            border: 1px solid $color-neutral-gray-25;
            bottom: pxToRem(16);
            cursor: pointer;
            display: block;
            font-family: $font-primary;
            font-size: pxToRem(12);
            font-weight: 500;
            left: 50%;
            line-height: pxToRem(16);
            opacity: 0;
            padding: pxToRem(16) pxToRem(48);
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            transform: translateX(-50%);
            transition: opacity 0.3s ease;
            z-index: 9999;
            min-width: 75%;
            max-width: 100%;
        }
    }


    // ------------------------------------------------
    // DETAILS
    // ------------------------------------------------
    &__details {
        color: #43494F;

        // Badge
        &-badge {
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 1.25px;
            line-height: 12px;
            margin: 0;
            margin-bottom: 8px;
            text-transform: uppercase;
        }

        // Product Title
        &-title {
            font-size: pxToRem(12);
            font-weight: 500;
            line-height: pxToRem(16);
            margin: 0;
            margin-bottom: 8px;
            min-height: pxToRem(32);
        }

        // Price
        &-price {
            font-size: pxToRem(12);
            line-height: pxToRem(16);
            margin: 0;
            margin-bottom: 4px;

            span + span {
                margin-left: 0.5rem;
            }
            &--regular {
                color: #333;
                font-weight: 600;
            }

            // Sale Pricing
            &--list {
                color: $color-neutral-gray-73;
                font-weight: 400;
                text-decoration: line-through;
            }
            &--sale {
                color: $color-utility-error;
                font-weight: 600;
            }

            &--discount {
                color: $color-neutral-gray-73;
                font-weight: 400;
            }
        }

        // Promo Code
        &-promo {
            color: $color-utility-error;
            font-size: 10px;
            font-weight: 500;
            line-height: 12px;
            margin: 0;
            margin-bottom: 8px;
            text-transform: uppercase;
        }

        // Variants
        &-variants {
            color: $color-neutral-gray-73;
            font-size: 12px;
            line-height: 16px;
        }
    }
}
